
* {
    box-sizing: border-box;
    text-align: center;
    background-attachment: gray;

  }

body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    background-color: gray;
  }
  
  header {
    padding: 25px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
    color: darkgray;
    background: white;
  }
  .center {
    padding: 25px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
    color: darkgray;
    background: white;
  }

  #leftSection{
        float: left;
        margin-right: 25px;
        margin-left: 10%;
        margin-bottom: 20px;
    
        width: 50%;
        color: darkgray;
        background: white;
      }
      #article{
          padding: 17px;
        margin-right: 10%;
        margin-left: 15%;
        margin-bottom: 20px;
        width: 70%;
        color: white;
        background: darkgrey;
      }
      #h1h2h3{
        margin-right: 10%;
        margin-left: 15%;
        
        width: 70%;
        margin-bottom: 20px;
        color: black;
        background: white;
      }
      #p{
        margin-right: 10%;
        margin-left: 15%;
        margin-bottom: 5px;
        width: 70%;
        color: black;
        background: white;
      }
      #aside{
        padding: 87px;
        float: left;
        width: 430px;
        margin-right: 10%;
        color: darkgray;
        background: white;
      }

      footer {
        padding: 25px;
        clear: both;
        margin-top: 20px;
        margin-right: 10%;
        margin-left: 10%;
        color: darkgray;
        background: white;
      }

      .clearfix {
        overflow: auto;
      }